{% extends "authenticated.html.jinja" %}
{% import "form_macros.html.jinja" as form_macros %}
{% from "form_handling_macros.html.jinja" import render_options_subform_js %}

{% block page_header %}{{ data_source.label }} - Add Matcher{% endblock %}

{% block content %}

{{ form_macros.render_form(form, action_url=url_for("matchers.add_url_matcher", source_id=data_source.id), btn_class="btn btn-primary") }}

<hr>

<a href="{{ url_for('data_sources.show_data_source', source_id=data_source.id) }}" class="btn btn-default">Cancel</a>

{% endblock %}

{% block scripts %}
{{ render_options_subform_js("matcher_type", url_for('matchers.show_matcher_options_form')) }}
{% endblock %}
