{% extends "authenticated.html.jinja" %}

{% block page_header %}Matcher for {{ data_source.label }}{% endblock %}

{% block content %}

{{ render_matcher_description(url_matcher.matcher_type, url_matcher.matcher_options) }}

<hr>

<p><strong>Matcher type:</strong> {{ url_matcher.matcher_type }}</p>

{% if url_matcher.matcher_options %}
    <strong>Matcher Options:</strong>
    <ul>
        {% for opt, val in url_matcher.matcher_options.items() %}
            <li><strong>{{ " ".join(opt.capitalize().split("_")) }}:</strong> {{ val|e }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if current_user.is_admin %}
<p><a href="{{ url_for('routes.edit_url_matcher', source_id=data_source.id, matcher_id=url_matcher.matcher_id) }}">Edit this matcher</a></p>
<p><a href="{{ url_for('routes.delete_url_matcher', source_id=data_source.id, matcher_id=url_matcher.matcher_id) }}">Delete this matcher</a></p>
{% endif %}

<p style="margin-top:20px;"><a href="{{ url_for('routes.show_data_source', source_id=data_source.id) }}"><span class="glyphicon glyphicon-chevron-left"></span>{{ data_source.label }} Data Source</a></p>

{% endblock %}
