{% extends "authenticated.html.jinja" %}
{% import "form_macros.html.jinja" as form_macros %}
{% from "form_handling_macros.html.jinja" import render_options_subform_js %}

{% block page_header %}{{ from_data_source.label }} - Edit {{ transform.transform_type }} Transform{% endblock %}

{% block content %}

{{ form_macros.render_form(form, action_url=url_for("transforms.edit_transform", source_id=from_data_source.id, transform_id=transform.transform_id), btn_class="btn btn-primary") }}

<hr>

<a href="{{ url_for('transforms.show_transform', source_id=from_data_source.id, transform_id=transform.transform_id) }}" class="btn btn-default">Cancel</a>

{% endblock %}

{% block scripts %}
{{ render_options_subform_js("transform_type", url_for('transforms.show_transform_options_form')) }}
{% endblock %}
