{% extends "authenticated.html.jinja" %}
{% import "form_macros.html.jinja" as form_macros %}

{% block page_header %}{{ data_source.label }}{% endblock %}

{% block content %}

<p>Are you sure you want to delete this data source? This cannot be undone.</p>

{{ form_macros.render_form(form, action_text="Delete", action_url=url_for("data_sources.delete_data_source", source_id=data_source.id), btn_class="btn btn-danger") }}

<p style="margin-top:20px;"><a class="btn btn-default" href="{{ url_for('data_sources.show_data_source', source_id=data_source.id) }}">Cancel</a></p>

{% endblock %}
