{% extends "layout.html.jinja" %}
{% import "form_macros.html.jinja" as form_macros %}
{% from "form_handling_macros.html.jinja" import render_options_subform_js %}

{% block page_header %}Edit {{ data_source.label }}{% endblock %}

{% block content %}

{{ form_macros.render_form(form, action_url=url_for("data_sources.edit_data_source", source_id=data_source.id), btn_class="btn btn-primary") }}

<hr>

<a href="{{ url_for('data_sources.show_data_source', source_id=data_source.id) }}" class="btn btn-default">Cancel</a>

{% endblock %}

{% block scripts %}
{{ render_options_subform_js("transfer_mechanism_type", url_for('data_sources.show_transfer_mechanism_options_form')) }}
{% endblock %}
