{% extends "authenticated.html.jinja" %}

{% block page_header %}{{ data_source.label }}{% endblock %}

{% block content %}

<p><strong>Transfer mechanism type:</strong> {{ data_source.transfer_mechanism_type }}</p>

{% if data_source.transfer_mechanism_options %}
    <strong>Transfer Mechanism Options:</strong>
    <ul>
        {% for opt, val in data_source.transfer_mechanism_options.items() %}
            <li><strong>{{ " ".join(opt.capitalize().split("_")) }}:</strong> {{ val|e }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if current_user.is_admin %}
<p><a href="{{ url_for('routes.edit_data_source', source_id=data_source.id) }}">Edit this data source</a></p>
<p><a href="{{ url_for('routes.delete_data_source', source_id=data_source.id) }}">Delete this data source</a></p>
{% endif %}

<h4>URL Matchers</h4>

<ul>
    {% for matcher in data_source.url_matchers %}
        <li><a href="{{ url_for('routes.show_url_matcher', source_id=data_source.id, matcher_id=matcher.matcher_id) }}">{{ matcher.matcher_type }}</a></li>
    {% else %}
        <li>No matchers</li>
    {% endfor %}
</ul>

{% if current_user.is_admin %}
<p><a href="{{ url_for('routes.add_url_matcher', source_id=data_source.id) }}">Add URL matcher</a></p>
{% endif %}

<p><a href="{{ url_for('routes.test_data_source_url_match', source_id=data_source.id) }}">Test a URL</a></p>

<hr>

<h4>Transforms</h4>
<p>Listed in order of preference</p>

<ul class="striped">
    {% for transform in data_source.transforms %}
        <li>
            <a href="{{ url_for('routes.show_transform', source_id=data_source.id, transform_id=transform.transform_id) }}">{{ transform.transform_type }}</a>
            {%- if current_user.is_admin -%}
                <span class="pull-right">
                    <span style="display:inline-block;width:16px;">
                        {%- if not loop.first -%}
                            <a href="{{ url_for('routes.edit_transform_order', source_id=data_source.id, transform_id=transform.transform_id, direction='up') }}">&#8679;</a>
                        {%- endif -%}
                    </span>
                    <span style="display:inline-block;width:16px;">
                        {%- if not loop.last -%}
                            <a href="{{ url_for('routes.edit_transform_order', source_id=data_source.id, transform_id=transform.transform_id, direction='down') }}">&#8681;</a>
                        {%- endif -%}
                    </span>
                </span>
            {%- endif -%}
        </li>
    {% else %}
        <li>No transforms</li>
    {% endfor %}
</ul>

{% if current_user.is_admin %}
<p><a href="{{ url_for('routes.add_transform', source_id=data_source.id) }}">Add URL transform</a></p>
{% endif %}

<hr>

<h4>Test Files</h4>

<ul>
    {% for test_file in data_source.transfer_test_files %}
        <li><a href="{{ url_for('routes.show_test_file', source_id=data_source.id, file_id=test_file.file_id) }}">{{ test_file.url }}</a></li>
    {% else %}
        <li>No test files</li>
    {% endfor %}
</ul>

{% if current_user.is_admin %}
<p><a href="{{ url_for('routes.add_test_file', source_id=data_source.id) }}">Add test file</a></p>
{% endif %}

<hr>

<h4>Timing Reports</h4>

<p><a href="{{ url_for('routes.list_timing_reports', source_id=data_source.id) }}">View timing reports</a></p>

<hr>

<p style="margin-top:20px;"><a href="{{ url_for('routes.list_data_sources') }}"><span class="glyphicon glyphicon-chevron-left"></span>All Data Sources</a></p>

{% endblock %}
