# Compiled Python files
**/*.pyc

BDSS/config/app.yml
BDSS/config/data_destinations.yml
BDSS/config/data_transfer_methods.yml

# Development database
BDSS/development.sqlite

# Log files
BDSS/log/*.log

# oh-my-zsh virtualenvwrapper plugin
.venv
