# Compiled Python files
**/*.pyc

BDSS/config/app.yml
BDSS/config/data_destinations.yml
BDSS/config/data_transfer_methods.yml

# Development database
*.sqlite

# Log files
log/*

# Worker PID file
tmp/*

# oh-my-zsh virtualenvwrapper plugin
.venv

# NPM libraries
node_modules

# Bower libraries
BDSS/static/lib
