alembic==0.8.6
bcrypt==3.1.0
beautifulsoup4==4.4.1
cffi==1.7.0
click==6.6
django-htmlmin==0.9.1
flake8==2.6.2
Flask==0.11.1
flask-jsontools==0.1.1.post0
Flask-Login==0.3.2
html5lib==0.9999999
itsdangerous==0.24
Jinja2==2.8
Mako==1.0.4
MarkupSafe==0.23
mccabe==0.5.0
ordereddict==1.1
passlib==1.6.5
pycodestyle==2.0.0
pycparser==2.14
pyflakes==1.2.3
python-dotenv==0.5.1
python-editor==1.0.1
requests==2.12.4
simplejson==3.8.2
six==1.10.0
SQLAlchemy==1.0.14
Werkzeug==0.15.3
WTForms==2.1
