{% extends "authenticated.html.jinja" %}
{% import "form_macros.html.jinja" as form_macros %}

{% block page_header %}Edit Permissions for {{ user.name }}{% endblock %}

{% block content %}

{%- if user.user_id == current_user.user_id -%}
    <div class="alert alert-warning">You cannot edit your own permissions</div>
{%- else -%}
    {%- if not user.is_admin -%}
        {{ form_macros.render_form(form, action_text="Grant Admin Permissions", action_url=url_for('users.edit_user_permissions', user_id=user.user_id), btn_class="btn btn-danger") }}
    {%- else -%}
        {{ form_macros.render_form(form, action_text="Revoke Admin Permissions", action_url=url_for('users.edit_user_permissions', user_id=user.user_id), btn_class="btn btn-danger") }}
    {%- endif -%}
{%- endif -%}

<hr>

<p style="margin-top:20px;"><a href="{{ url_for('users.list_users') }}"><span class="glyphicon glyphicon-chevron-left"></span>All Users</a></p>

{% endblock %}
