{% extends "authenticated.html.jinja" %}

{% block page_header %}Registered Users{% endblock %}

{% block content %}

<ul>
    {% for user in users %}
        <li>
            <a href="{{ url_for('users.show_user', user_id=user.user_id) }}">{{ user.name }}</a>
            {%- if user.user_id == current_user.user_id -%}&nbsp;(Me){%- endif -%}
            <br><a href="mailto:{{ user.email }}">{{ user.email }}</a>
            {%- if user.is_admin -%}<br>Administrator{%- endif -%}
        </li>
    {% endfor %}
</ul>

{% if total_num_pages > 1 %}
    <nav style="text-align:center;">
        <ul class="pagination">
            {% if page_range[0] > 1 %}
                <li><a href="{{ url_for('users.list_users', page=(page_range[0] - 1)) }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            {% endif %}
            {% for p in page_range %}
                {% if p == page_num %}<li class="active">{% else %}<li>{% endif %}
                <a href="{{ url_for('users.list_users', page=p) }}">{{ p }}</a></li>
            {% endfor %}
            {% if page_range[-1] < total_num_pages %}
                <li><a href="{{ url_for('users.list_users', page=(page_range[-1] + 1)) }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
            {% endif %}
        </ul>
    </nav>
{% endif %}

{% endblock %}
