{% extends "layout.html.jinja" %}
{% import "form_macros.html.jinja" as form_macros %}

{% block page_header %}Register{% endblock %}

{% block content %}

{{ form_macros.render_form(form, action_url=url_for("auth.register"), btn_class="btn btn-primary") }}

<hr>

<p style="margin-top: 10px;">Or <a href="{{ url_for('auth.login') }}">login with an existing account</a></p>

{% endblock %}
