{% extends "layout.html.jinja" %}
{% import "form_macros.html.jinja" as form_macros %}

{% block page_header %}Test file for {{ test_file.data_source.label }}{% endblock %}

{% block content %}

<p><strong>File URL:</strong> {{ test_file.url }}</p>

<p>Are you sure you want to delete this test file? This cannot be undone.</p>

{{ form_macros.render_form(form, action_text="Delete", action_url=url_for("test_files.delete_test_file", source_id=test_file.data_source_id, file_id=test_file.file_id), btn_class="btn btn-danger") }}

<p style="margin-top:20px;"><a class="btn btn-default" href="{{ url_for('test_files.show_test_file', source_id=test_file.data_source_id, file_id=test_file.file_id) }}">Cancel</a></p>

{% endblock %}
