{% extends "layout.html.jinja" %}
{% import "form_macros.html.jinja" as form_macros %}

{% block page_header %}{{ data_source.label }} - Add Test File{% endblock %}

{% block content %}

{{ form_macros.render_form(form, action_url=url_for("routes.add_test_file", source_id=data_source.id), btn_class="btn btn-primary") }}

<hr>

<a href="{{ url_for('routes.show_data_source', source_id=data_source.id) }}" class="btn btn-default">Cancel</a>

{% endblock %}
