{% extends "authenticated.html.jinja" %}

{% block page_header %}Test file for {{ test_file.data_source.label }}{% endblock %}

{% block content %}

<p><strong>File URL:</strong> <a href="{{ test_file.url }}">{{ test_file.url }}</a></p>

{% if current_user.is_admin %}
<p><a href="{{ url_for('test_files.edit_test_file', source_id=test_file.data_source_id, file_id=test_file.file_id) }}">Edit this test file</a></p>
<p><a href="{{ url_for('test_files.delete_test_file', source_id=test_file.data_source_id, file_id=test_file.file_id) }}">Delete this test file</a></p>
{% endif %}

<p style="margin-top:20px;"><a href="{{ url_for('data_sources.show_data_source', source_id=test_file.data_source_id) }}"><span class="glyphicon glyphicon-chevron-left"></span>{{ test_file.data_source.label }} Data Source</a></p>

{% endblock %}
