{% extends 'authenticated.html.jinja' %}

{% block nav %}
<li><a href="/jobs">View All Jobs</a></li>
<li><a href="/jobs/submit">Start New Job</a></li>
{% endblock %}

{% block content %}

<a href="/" style="display: inline-block; margin-top: 20px;"><i class="glyphicon glyphicon-chevron-left"></i> All jobs</a>

<h3 class="page-header">{{ job.name }}</h3>

<p><strong>Status:</strong> {{ job.status()|status_label }}</p>

{% if job.status() == 'in_progress' %}
    <p>Started: {{ job.started_at.isoformat() }}</p>
{% elif job.status() == 'completed' or job.status() == 'failed' %}
    {% if job.error_message %}<p>{{ job.error_message }}</p>{% endif %}
{% endif %}

<p><strong>Destination:</strong> {{ destination.label }}</p>
<p><strong>Destination Directory:</strong> {{ job.destination_directory }}</p>

<p><strong>Transfer Method:</strong> {{ transfer_method.label }}</p>

<ul id="data-list" class="striped" style="margin-top: 15px;">
    {% for d in job.required_data %}
        <li>
            {{- d.status|status_label -}}{{ d.data_url }}<br>
            {%- if d.status == 'in_progress' -%}
                Started: {{ d.transfer_started_at.isoformat() }}
            {%- elif d.status == 'failed' -%}
                {{ d.status|capitalize }} in {{ d.measured_transfer_time|round(2) }} seconds. ({{ d.error_message }})
            {%- elif d.status == 'completed' -%}
                Downloaded {{ d.transfer_size }} bytes in {{ d.measured_transfer_time|round(2) }} seconds
            {%- endif -%}
        </li>
    {% endfor %}
</ul>

{% endblock %}
