.page-header {
    margin-top: 20px;
}

li p {
    margin-bottom: 3px;
}

.striped {
    list-style-type: none;
    padding-left: 0;
}

.striped li {
    padding: 8px;
}

.striped li h4 {
    margin-top: 0;
}

.striped li:nth-child(odd) {
    background: #f9f9f9;
}

#data-list li .label {
    float: right;
}

.tab-pane {
    padding-bottom: 15px;
    padding-top: 15px;
}

.spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.alert-inline {
    line-height: 32px;
    margin-bottom:0;
    margin-right:10px;
    padding:0 20px 0 8px;
}

.alert-inline button.close {
    right: -11px;
    top: 4px;
}
