{% extends "layout.html.jinja" %}
{% import "form_macros.html.jinja" as form_macros %}

{% block page_header %}Get Transformed URLs{% endblock %}

{% block content %}

{{ form_macros.render_form(form, action_url=url_for("routes.get_transformed_urls"), btn_class="btn btn-primary") }}

{% if results %}
    {% if results|length > 0 %}
        <hr>
        <ol>
            {% for r in results %}
                <li>{{ r.original_url }} = {{ r.transformed_url }}<br>
                    {{ r.original_source.label }} =&gt;
                    {{ r.transform_applied.transform_id }} =&gt;
                    {{ r.transform_applied.to_data_source.label }}</li>
            {% endfor %}
        </ol>
    {% else %}
        <p>No results</p>
    {% endif %}
{% endif %}

<hr>

<p style="margin-top:20px;"><a href="{{ url_for('routes.index') }}"><span class="glyphicon glyphicon-chevron-left"></span>Back</a></p>

{% endblock %}
