{% extends "authenticated.html.jinja" %}
{% import "form_macros.html.jinja" as form_macros %}

{% block page_header %}Add New Data Destination{% endblock %}

{% block content %}

{{ form_macros.render_form(form, action_url=url_for("destinations.create_destination"), btn_class="btn btn-primary") }}

<hr>

<a href="{{ url_for('destinations.list_destinations') }}" class="btn btn-default">Cancel</a>

{% endblock %}
