{% extends "authenticated.html.jinja" %}

{% block page_header %}{{ data_source.label }} - Transfer Report{% endblock %}

{% block content %}

<p><strong>URL:</strong> {{ report.url }}</p>

<p>
<strong>Destination: </strong>
{%- if report.destination -%}
    {{ destination.label }}
{%- else -%}
    Unknown
{%- endif -%}
</p>

<p><strong>Transferred At:</strong> {{ report.created_at }}</p>

<p style="font-size:22px;">
{%- if report.is_success -%}
<span class="label label-success">Successful</span>
{%- else -%}
<span class="label label-danger">Failed</span>
{%- endif -%}
<p>

<p>Transferred {{ report.file_size_bytes|format_number }} bytes in {{ report.transfer_duration_seconds|format_number }} seconds. {{ report.transfer_rate|format_number }} bytes/second</p>

{% if report.is_transfer_rate_outlier %}
<div class="alert alert-warning">This report is an outlier, greater than 3 standard deviations from the average transfer rate for this data source.</div>
{% endif %}

<strong>Output</strong>
<pre>{{ report.mechanism_output }}</pre>

{% if current_user.is_admin %}
<p><a href="{{ url_for('transfer_reports.delete_transfer_report', source_id=report.data_source_id, report_id=report.report_id) }}">Delete this transfer report</a></p>
{% endif %}

<hr>

<p style="margin-top:20px;"><a href="{{ url_for('transfer_reports.list_transfer_reports', source_id=data_source.id) }}"><span class="glyphicon glyphicon-chevron-left"></span>{{ data_source.label }}</a></p>

{% endblock %}
