<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>BDSS</title>
</head>
<body>

    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li><a href="/">View All Jobs</a></li>
                <li><a href="/submit">Start New Job</a></li>
            </ul>
            <h3 class="text-muted">Big Data Smart Socket</h3>
        </div>

        <a href="/"><i class="glyphicon glyphicon-chevron-left"></i> All jobs</a>

        <div id="placeholder"><p>Loading job...</p></div>

        <h3 id="job-title" class="hidden"></h3>
        <div id="job-info" class="hidden"></div>
        <ul id="data-list" class="hidden striped" style="margin-top: 15px;"></ul>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/static/js/show.js"></script>

</body>
</html>
