{% extends 'layout.html.jinja' %}

{% block nav %}
<li><a href="/">View All Jobs</a></li>
<li><a href="/submit">Start New Job</a></li>
{% endblock %}

{% block content %}
<a href="/"><i class="glyphicon glyphicon-chevron-left"></i> All jobs</a>

<div id="placeholder"><p>Loading job...</p></div>

<h3 id="job-title" class="hidden"></h3>
<div id="job-info" class="hidden"></div>
<ul id="data-list" class="hidden striped" style="margin-top: 15px;"></ul>
{% endblock %}

{% block scripts %}
<script src="/static/js/show.js"></script>
{% endblock %}
