{% extends 'authenticated.html.jinja' %}

{% block nav %}
<li><a href="/jobs">View All Jobs</a></li>
<li><a href="/jobs/submit">Start New Job</a></li>
{% endblock %}

{% block content %}

<h3 class="page-header">SSH Keys</h3>

{% if keys|length > 0 %}
    <ul class="striped">
        {% for k in keys %}
            <li style="overflow:hidden;line-height:34px;">
                <a class="btn btn-primary pull-right" href="/keys/{{ k.id }}">Download</a>
                <a class="btn btn-default pull-right test-key-btn" data-key-id="{{ k.id }}" href="#" style="margin-right:10px;">Test</a>
                {{ destinations[k.destination].label }}: {{ k.username }}@{{ destinations[k.destination].host }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You do not currently have any SSH keys.</p>
{% endif %}

<div class="alert alert-warning">After generating an SSH key, you must <a class="alert-link" href="javascript:$('#help-modal').modal();">authorize it to access the destination machine</a>.</div>

<hr style="margin-top:25px;">

<h4>Generate New Key</h4>
<form id="gen-key-form" role="form">
    <div class="form-group">
        <label for="destination">Destination</label>
        <select class="form-control" name="destination" id="destination">
            {% for id, dest in destinations.iteritems() %}
            <option value="{{ id }}" data-destination='{{ dest|tojson|safe }}'>{{ dest.label }} ({{ dest.host }})</option>
            {% endfor %}
        </select>
        <p class="help-block"></p>
    </div>
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" name="username" id="username">
        <p class="help-block">Your username on the selected destination.</p>
    </div>
    <button type="submit" class="btn btn-primary pull-right">Generate</button>
</form>

<div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="help-modal-title">Authorizing SSH Keys</h4>
            </div>
            <div class="modal-body">
                <p>After generating an SSH keypair, you must place the public key on the
                    destination machine to allow BDSS SSH access to that machine.</p>
                <ol>
                    <li>Click the "Download" button to download a keypair's public key.</li>
                    <li>Copy the public key to the destination machine.</li>
                    <li>On the destination machine:
                        <ol style="padding-left:20px;">
                            <li>Create a .ssh folder in your home directory if it does not already exist.
                                <pre style="margin-right:60px;">mkdir -p ~/.ssh</pre>
                            </li>
                            <li>Add the key to your authorized keys.
                                <pre style="margin-right:60px;">cat /path/to/key.pub >> ~/.ssh/authorized_keys</pre>
                            </li>
                            <li>Make sure permissions are set correctly.
                                <pre style="margin-right:60px;">chmod 700 ~/.ssh; chmod 600 ~/.ssh/authorized_keys</pre>
                            </li>
                        </ol>
                    </li>
                </ol>
                <p>Click the "Test" button to verify that BDSS can connect to the destination machine
                    using the key.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="/static/js/form-utils.js"></script>
<script src="/static/js/keys.js"></script>
{% endblock %}
